:root {
    --lightGrayColor: #C0BCB5;
    --darkColor: black;
}


* {
    /*set font for the entire webpage*/
    font-family: 'Cormorant Garamond', serif;
}

body {
    /*removes all margins and set background of the body of the page*/
    background-color: rgba(241, 135, 15, 0.07);
}

/*The below sets CSS styling for the navigation section on the page*/

.customNav {
    padding-top: 25px;
    padding-bottom: 25px;
}

.customNav, #aboutMe {
    background-color: rgba(241, 135, 15, 0.0) !important;
    
}

.navbar-brand {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-item {
font-size: 20px;
padding-left: 5px;
}

.navbar-nav {
    margin-right: 12px;
}

.customNav a {
    color: var(--darkColor);
}

nav ul li a:hover, #mail:hover, .social-icon:hover {
    background-color: var(--lightGrayColor);
    box-shadow: 5px 5px rgba(212, 132, 83, 0.75);
}


/*The below sets CSS styling for the Hero/Jumbotron section of the page*/

.hero {
    position: relative;
    height: 280px;
    width: 100%;
    background-image: url(../images/IMG_8859.png);
    background-size: cover;
    background-position: 20% 30.5%;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(192,192,192, 0.63);
}

.hero h1 {
    font-size: 55px;
    font-weight: bold;
}

.hero p {
    font-size: 22px;
    font-weight: bold;
}

.hero-container {
    box-sizing: border-box;
    padding: 14px 0 0 !important;
}

.cover-text {
    margin: 0;
    position: relative;
    color: var(--darkColor);  
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 3px 2px rgba(192,192,192, 0.63);
    
    
}


/*The below sets CSS styling for the About Me elements of the jumbotron*/
#aboutMe {
    padding-bottom: 0 !important;
}

.bioHeader {
border-bottom: 1px solid var(--lightGrayColor);
margin: 0 !important;
padding-bottom: 10px;
margin-top: 50px;
font-size: 35px;
}

.bio-container {
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

#avatar {
    width: 27vw;
    height: auto;
    margin-top: 5px;
    margin-right: 25px;
    border-radius: 10px;
    border: 3px solid var(--darkColor);
}

.bio {
    text-align: justify;
}

.bioText {
    font-size: 1.25em !important;
    line-height: 20px;
}

#bio-span, #bio-connect, .subHeading, #contact-text {
    font-weight: bold;
}

#bio-connect  {
    font-size: 20px;
    font-weight: bold;
}

.bio-subtext {
    font-size: 1.125em;
    line-height: 20px;
}

.bio-social {
    text-align: center;
}

.social-icon {
    width: 2rem;
    margin: 0 4px;
}


/*The below sets CSS styling for the main section on the page*/

main, #aboutMe {
    /*set the width for the "main" section and centres the main using margin*/
    width: 65%;
    margin: 0 auto;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.subHeading {
    /*sets font size, slignment, border, width ad margin for the subheading, Portfolio*/
    font-size: 35px;
    text-align: center;
    border-bottom: 2px solid var(--lightGrayColor);
    width: 130px;
    margin: 0 auto 50px;
}

/*The below sets CSS styling for the cards*/

.container-fluid {
    padding: 0;
}


.cardContainer {
    text-align: center;
    
}

.card {
    margin: 0 auto 10px;
    border: 3px solid var(--darkColor);
}

.card-title {
    width: fit-content;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background-color: rgba(212, 132, 83, 0.75);
    font-weight: bold;
}

.link-btn {
    cursor: pointer;
    background-color:var(--darkColor);
    border: none;
    font-weight: bold;
}

.link-btn:hover {
    background-color: rgba(212, 132, 83, 0.75);
    box-shadow: 5px 5px var(--darkColor) !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}

/* The below sets CSS styling for the contact me section of the page*/

#contactMe, footer {
    text-align: center;
    margin-top: 50px;
}

#contact-text {
    font-size: 40px;
    margin-bottom: 35px;
}

#mail {
    font-size: 20px;
    text-decoration: none;
    color: var(--darkColor);
}

.icons {
    margin: 10px 0 35px;
}



footer, footer p {
    /* sets margin bottom to 0 for the footer section of the page*/
    margin-bottom: 0;
}


/* The below sets media queries to ensure the page is responsive and is able to adapt to various screen sizes - the use of media queries as been minimised and as only been applied on the about me section due to my use of bootstrap components*/



@media only screen and (max-width: 767px) {
  

    .bio-container {
        display: inline-block;
       
    }

    #avatar {
        width: 100%;
        max-width: 70vw;
        margin-bottom: 20px;
    }

}




